body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
}
.formStyle{
  padding: 20px;
  border: 1px solid black;
  width: 25%;
  text-align: center;
}

.form-control{
  border-color: black !important;
}
/* App.css */

/* Wrapper styles */
.wrapper {
  display: flex;
  width: 100%;
}

/* Sidebar styles */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #082644; /* Bootstrap sidebar color */
  color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #43b7f1; /* Bootstrap sidebar border color */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
  font-family: sans-serif;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  background-color: #031f3c; /* Bootstrap sidebar hover color */
}

/* Page content styles */
#content {
  width: 100%;
  padding: 20px;
}

.formStyle {
  padding: 20px;
  border: 1px solid #dee2e6; /* Bootstrap form border color */
  width: 100%;
  text-align: center;
}

.form-control {
  border-color: #072c51 !important; /* Bootstrap form control border color */
}

.uploaded {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.output-div {
  display: flex;
  justify-content: space-evenly;
}

.inner-div {
  display: flex;
  flex-direction: column;
}

/* Additional styles */
.btn-primary {
  background-color: #007bff; /* Bootstrap primary button color */
  border-color: #007bff; /* Bootstrap primary button border color */
}

.btn-primary:hover {
  background-color: #0056b3; /* Bootstrap primary button hover color */
  border-color: #0056b3; /* Bootstrap primary button border hover color */
}













.uploaded{
  margin-top: 30px;
 width: 100%;
 text-align: center;
  
}
.output-div{
  display: flex;
    justify-content: space-evenly;
}
.inner-div{
  display: flex;
    flex-direction: column;
}














.pdf-div{
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}
canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
}