/* App.css */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pdf-uploader {
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pdf-uploader h4 {
  margin-bottom: 20px;
}

.pdf-uploader form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pdf-uploader input[type="text"],
.pdf-uploader input[type="file"],
.pdf-uploader button {
  margin: 10px 0;
  width: calc(100% - 20px);
  max-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pdf-uploader button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.pdf-uploader button:hover {
  background-color: #0056b3;
}

.pdf-viewer {
  width: calc(100% - 100px); /* Adjust the width as needed */
  max-width: 800px;
  margin-left: 50px; /* Adjust the margin to create space between uploader and viewer */
}

.pdf-viewer embed {
  width: 100%;
  height: 500px;
}

.pdf-uploader {
  margin-bottom: 20px;
}

.pdf-uploader form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-viewer {
  width: 100%;
  max-width: 800px;
}

.pdf-viewer p {
  text-align: center;
}
